body {
	margin: 0;
	font-family: Arial;
}

.ellipse {
	width: 40px;
	height: 40px;
	background-color: #64d5c1;
	border-radius: 100px;
	border: 3px solid #fff;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line {
	height: 40px;
	background-color: #ded3cb;
	position: absolute;
	z-index: 1;
	margin-top: 3px;
	left: 20px;
	display: flex;
	align-items: center;
}

p {
	margin: 0;
}

.number {
	font-size: 20px;
}

.text {
	padding: 0 100px 0 40px;
}

.list {
	display: flex;
	flex-direction: column;
}

.form2 {
	margin-top: 50px;
}

.line2 {
	height: 40px;
	background-color: #d4d5db;
	position: absolute;
	z-index: 1;
	margin-top: 3px;
	left: 20px;
	display: flex;
	align-items: center;
}

.ellipse2 {
	width: 40px;
	height: 40px;
	background-color: #8e98a4;
	border: 3px solid #fff;
	border-right: 6px solid #fff;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}